<style>
    .billtech_row_button {
        font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .billtech_row_button div {
        padding: 2px 5px;
        color: #fff;
        border-width: 0;
        margin: 0;
        background-color: #FF9F32;
        border-radius: 3px;
        cursor: pointer;
    }

    .billtech_row_button:hover {
        text-decoration: none;
    }

    .billtech_row_button:hover div{
        background-color: #ff9319;
    }
</style>
<div style="width:100%; text-align:center">
    <a class="billtech_row_button"
       href="{$link}"
       target="_blank">
        <div>
            Opłać teraz
        </div>
    </a>
</div>