<style>
	.billtech_balance_button {
		text-decoration: none;
		font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.billtech_balance_button div {
		font-size: 16px;
		font-weight: 400;
		padding: 10px 30px;
		margin: -10px 10px;
		color: #fff;
		border-width: 0;
		background-color: #FF9F32;
		border-radius: 3px;
	}

	.billtech_balance_button:hover {
		text-decoration: none;
	}

	.billtech_balance_button:hover div {
		background-color: #ff9319;
	}
</style>
<div style="display: inline-block; text-align:center">
	<a class="billtech_balance_button" style="cursor: pointer;" target="_blank" href="{$billtech_balance_link}">
		<div>
			Opłać teraz
		</div>
	</a>
</div>