<style>
	.billtech_row_button {
		font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.billtech_row_button div {
		padding: 2px 12px;
		margin: 0 2px;
		color: #fff;
		border-width: 0;
		background-color: #FF9F32;
		border-radius: 3px;
		cursor: pointer;
	}

	.billtech_row_button:hover {
		text-decoration: none;
	}

	.billtech_row_button:hover div {
		background-color: #ff9319;
	}
</style>
<div style="display:inline-block; text-align:center; margin-bottom:4px">
	<a class="billtech_row_button"
	   href="{$link}"
	   target="_blank">
		<div>
			Opłać dokument
		</div>
	</a>
</div>