<style>
    .billtech_balance_button {
        font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #FF9F32;
        border-color: #FF9F32;
        margin-right: 4px;
    }

	#balance > div > div > br {
		display: none;
	}

    .billtech_balance_button:hover{
        background-color: #ff8800;
        border-color: #f08000;
    }

    .billtech_balance_button:focus{
        color: white;
        -webkit-box-shadow: 0 0 0 2px rgba(255, 159, 50, 0.5);
        box-shadow: 0 0 0 2px rgba(255, 159, 50, 0.5);
    }
</style>

<a class="btn btn-primary billtech_balance_button" href="{$billtech_balance_link}" target="_blank">Opłać saldo</a>