{extends file="layout.html"}
{block name=title}::: LMS :{$layout.pagetitle|striphtml} :::{/block}
{block name=module_content}
<SCRIPT type="text/javascript">
	function generatesecret() {
		document.setbilltechconfig.action = "?m=billtechconfig&action=generatesecret";
		document.setbilltechconfig.submit();
	}

	function saveheader() {
		document.setbilltechconfig.action = "?m=billtechconfig&action=setbilltechconfig";
		document.setbilltechconfig.submit();
	}
</SCRIPT>
<!--// $Id$ //-->
<H1>{$layout.pagetitle}</H1>
<FORM name="setbilltechconfig" method="POST">
	<p style="display: none;">
		<INPUT type="submit" class="hiddenbtn">
	</p>
	<TABLE class="lmsbox">
		<colgroup>
			<col style="width: 1%;">
			<col style="width: 99%;">
		</colgroup>
		<THEAD>
		<TR>
			<th scope="col" colspan="2">
				BillTech - konfiguracja
			</th>
		</TR>
		</THEAD>
		<TBODY>
		<TR>
			<TD class="bold nobr">
				ISP id:
			</TD>
			<TD class="nobr">
				<INPUT type="text" required name="isp_id" value="{$isp_id}" size="16">
			</TD>
		</TR>
		<TR>
			<TD class="bold nobr">
				Payment url:
			</TD>
			<TD class="nobr">
				<INPUT type="text" required name="payment_url" value="{$payment_url}" size="50">
			</TD>
		</TR>
		<TR>
			<TD class="bold nobr">
				API url:
			</TD>
			<TD class="nobr">
				<INPUT type="text" required name="api_url" value="{$api_url}" size="50">
			</TD>
		</TR>
		<TR>
			<TD class="bold nobr">
				API key:
			</TD>
			<TD class="nobr">
				<INPUT type="text" required name="api_key" value="{$api_key}" size="40">
			</TD>
		</TR>
		<TR>
			<TD class="bold nobr">
				API secret:
			</TD>
			<TD class="nobr">
				<INPUT type="text" name="api_secret" value="{$api_secret}" size="40" disabled>
			</TD>
		</TR>
		<TR>
			<TD class="bold nobr">
				PIN:
			</TD>
			<TD class="nobr">
				<INPUT type="text" name="pin" size="10"> <A href="javascript:generatesecret();">&nbsp;Generuj API secret&nbsp;»»»</A>
			</TD>
		</TR>
		<TR>
			<TD class="text-right" colspan="2">
				<A href="javascript:saveheader();">{trans("Submit")} <IMG src="img/save.gif" alt=""></A>
			</TD>
		</TR>
		</TBODY>
	</TABLE>
</FORM>
{/block}
